<a href="/hello/">Test</a>
<br>
<a href="/table/AIRCRAFTS">Aircrafts</a>
<br>
<a href="/table/COUNTRIES">Countries</a>
<br>
<a href="/table/LEG">LEG</a>
<br>
<a href="/table/LEG_AR">Leg AR</a>
<br>
<a href="/table/LEG_CLASS">Leg Class</a>
<br>
<a href="/table/LEG_CLASS_AR">Leg Class AR</a>
<br>
<a href="/table/LEG_PAXCAT">LEG Paxcat</a>
<br>
<a href="/table/LEG_PAXCAT_AR">LEG Paxcat AR</a>
<br>
<a href="/table/STC">STC</a>
<br>
<a href="/table/STATIONS">STATIONS</a>
<br>
<a href="/table/RawAvia">RAW</a>
<br>

<img src="db_schema.jpg" alt="DB SCHEMA">