<a href="/">Home</a><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>AC_VER_TYP_KEY</th>
      <th>LEG_KEY</th>
      <th>FLTID</th>
      <th>DATOP</th>
      <th>LEGNO</th>
      <th>DEPSTN</th>
      <th>ARRSTN</th>
      <th>ATD</th>
      <th>ATA</th>
      <th>BLHR</th>
      <th>ABHR</th>
      <th>GRPNO</th>
      <th>STC</th>
      <th>TOFF</th>
      <th>TDWN</th>
      <th>CNTR_DEF</th>
      <th>_CREATED</th>
      <th>_CHANGED</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>93</td>
      <td>1</td>
      <td>SK 0008</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>59</td>
      <td>2020-01-01 00:08:00</td>
      <td>2020-01-01 01:27:00</td>
      <td>1.33</td>
      <td>1.15</td>
      <td>832</td>
      <td>2</td>
      <td>2020-01-01 00:18:00</td>
      <td>2020-01-01 01:27:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>93</td>
      <td>2</td>
      <td>SK 0009</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>59</td>
      <td>11</td>
      <td>2020-01-01 00:09:00</td>
      <td>2020-01-01 01:31:00</td>
      <td>1.38</td>
      <td>0.98</td>
      <td>832</td>
      <td>2</td>
      <td>2020-01-01 00:29:00</td>
      <td>2020-01-01 01:27:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>118</td>
      <td>3</td>
      <td>SK 0010</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>59</td>
      <td>2020-01-01 00:10:00</td>
      <td>2020-01-01 01:37:00</td>
      <td>1.45</td>
      <td>1.16</td>
      <td>832</td>
      <td>2</td>
      <td>2020-01-01 00:28:00</td>
      <td>2020-01-01 01:37:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>118</td>
      <td>4</td>
      <td>SK 0011</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>59</td>
      <td>11</td>
      <td>2020-01-01 00:11:00</td>
      <td>2020-01-01 01:26:00</td>
      <td>1.25</td>
      <td>1.06</td>
      <td>832</td>
      <td>2</td>
      <td>2020-01-01 00:23:00</td>
      <td>2020-01-01 01:26:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>107</td>
      <td>5</td>
      <td>SK 0016</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>59</td>
      <td>2020-01-01 00:16:00</td>
      <td>2020-01-01 01:35:00</td>
      <td>1.33</td>
      <td>1.11</td>
      <td>832</td>
      <td>2</td>
      <td>2020-01-01 00:29:00</td>
      <td>2020-01-01 01:35:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>107</td>
      <td>6</td>
      <td>SK 0019</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>59</td>
      <td>11</td>
      <td>2020-01-01 00:19:00</td>
      <td>2020-01-01 01:49:00</td>
      <td>1.50</td>
      <td>1.03</td>
      <td>832</td>
      <td>2</td>
      <td>2020-01-01 00:39:00</td>
      <td>2020-01-01 01:40:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>117</td>
      <td>7</td>
      <td>SK 0034</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>108</td>
      <td>2020-01-01 00:34:00</td>
      <td>2020-01-01 01:41:00</td>
      <td>1.13</td>
      <td>0.90</td>
      <td>836</td>
      <td>2</td>
      <td>2020-01-01 00:47:00</td>
      <td>2020-01-01 01:41:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>117</td>
      <td>8</td>
      <td>SK 0035</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>108</td>
      <td>11</td>
      <td>2020-01-01 00:35:00</td>
      <td>2020-01-01 01:33:00</td>
      <td>0.98</td>
      <td>0.71</td>
      <td>836</td>
      <td>2</td>
      <td>2020-01-01 00:51:00</td>
      <td>2020-01-01 01:33:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>88</td>
      <td>9</td>
      <td>SK 0061</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>75</td>
      <td>11</td>
      <td>2020-01-01 01:01:00</td>
      <td>2020-01-01 01:52:00</td>
      <td>0.86</td>
      <td>0.70</td>
      <td>838</td>
      <td>2</td>
      <td>2020-01-01 01:10:00</td>
      <td>2020-01-01 01:52:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>88</td>
      <td>10</td>
      <td>SK 0072</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>75</td>
      <td>2020-01-01 01:12:00</td>
      <td>2020-01-01 02:13:00</td>
      <td>1.03</td>
      <td>0.86</td>
      <td>838</td>
      <td>2</td>
      <td>2020-01-01 01:22:00</td>
      <td>2020-01-01 02:13:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>114</td>
      <td>11</td>
      <td>SK 0079</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>110</td>
      <td>2020-01-01 01:19:00</td>
      <td>2020-01-01 01:58:00</td>
      <td>0.65</td>
      <td>0.48</td>
      <td>872</td>
      <td>2</td>
      <td>2020-01-01 01:30:00</td>
      <td>2020-01-01 01:58:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>114</td>
      <td>12</td>
      <td>SK 0080</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>110</td>
      <td>11</td>
      <td>2020-01-01 01:20:00</td>
      <td>2020-01-01 02:08:00</td>
      <td>0.81</td>
      <td>0.66</td>
      <td>872</td>
      <td>2</td>
      <td>2020-01-01 01:29:00</td>
      <td>2020-01-01 02:08:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>34</td>
      <td>13</td>
      <td>SK 0157</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>35</td>
      <td>2020-01-01 02:37:00</td>
      <td>2020-01-01 03:31:00</td>
      <td>0.90</td>
      <td>0.68</td>
      <td>831</td>
      <td>2</td>
      <td>2020-01-01 02:51:00</td>
      <td>2020-01-01 03:31:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>34</td>
      <td>14</td>
      <td>SK 0158</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>35</td>
      <td>11</td>
      <td>2020-01-01 02:38:00</td>
      <td>2020-01-01 03:32:00</td>
      <td>0.91</td>
      <td>0.71</td>
      <td>831</td>
      <td>2</td>
      <td>2020-01-01 02:50:00</td>
      <td>2020-01-01 03:32:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>29</td>
      <td>15</td>
      <td>SK 0161</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>35</td>
      <td>2020-01-01 02:41:00</td>
      <td>2020-01-01 03:35:00</td>
      <td>0.91</td>
      <td>0.71</td>
      <td>831</td>
      <td>2</td>
      <td>2020-01-01 02:53:00</td>
      <td>2020-01-01 03:35:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>29</td>
      <td>16</td>
      <td>SK 0162</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>35</td>
      <td>11</td>
      <td>2020-01-01 02:42:00</td>
      <td>2020-01-01 03:42:00</td>
      <td>1.00</td>
      <td>0.75</td>
      <td>831</td>
      <td>2</td>
      <td>2020-01-01 02:57:00</td>
      <td>2020-01-01 03:42:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>96</td>
      <td>17</td>
      <td>SK 0165</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>35</td>
      <td>2020-01-01 02:45:00</td>
      <td>2020-01-01 03:39:00</td>
      <td>0.91</td>
      <td>0.73</td>
      <td>831</td>
      <td>2</td>
      <td>2020-01-01 02:56:00</td>
      <td>2020-01-01 03:39:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>88</td>
      <td>18</td>
      <td>SK 0185</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>11</td>
      <td>6</td>
      <td>2020-01-01 03:05:00</td>
      <td>2020-01-01 04:12:00</td>
      <td>1.13</td>
      <td>0.85</td>
      <td>833</td>
      <td>2</td>
      <td>2020-01-01 03:21:00</td>
      <td>2020-01-01 04:12:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>88</td>
      <td>19</td>
      <td>SK 0186</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>6</td>
      <td>11</td>
      <td>2020-01-01 03:06:00</td>
      <td>2020-01-01 04:01:00</td>
      <td>0.93</td>
      <td>0.80</td>
      <td>833</td>
      <td>2</td>
      <td>2020-01-01 03:13:00</td>
      <td>2020-01-01 04:01:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>20</td>
      <td>20</td>
      <td>SK 0215</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>52</td>
      <td>2020-01-01 03:35:00</td>
      <td>2020-01-01 04:20:00</td>
      <td>0.76</td>
      <td>0.55</td>
      <td>826</td>
      <td>2</td>
      <td>2020-01-01 03:47:00</td>
      <td>2020-01-01 04:20:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>20</td>
      <td>21</td>
      <td>SK 0216</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>52</td>
      <td>76</td>
      <td>2020-01-01 03:36:00</td>
      <td>2020-01-01 04:27:00</td>
      <td>0.85</td>
      <td>0.66</td>
      <td>826</td>
      <td>2</td>
      <td>2020-01-01 03:48:00</td>
      <td>2020-01-01 04:27:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>153</td>
      <td>22</td>
      <td>SK 0223</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>52</td>
      <td>2020-01-01 03:43:00</td>
      <td>2020-01-01 04:23:00</td>
      <td>0.68</td>
      <td>0.51</td>
      <td>826</td>
      <td>2</td>
      <td>2020-01-01 03:53:00</td>
      <td>2020-01-01 04:23:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>161</td>
      <td>23</td>
      <td>SK 0257</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>14</td>
      <td>2020-01-01 04:17:00</td>
      <td>2020-01-01 05:09:00</td>
      <td>0.88</td>
      <td>0.70</td>
      <td>821</td>
      <td>2</td>
      <td>2020-01-01 04:27:00</td>
      <td>2020-01-01 05:09:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>161</td>
      <td>24</td>
      <td>SK 0262</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>14</td>
      <td>76</td>
      <td>2020-01-01 04:22:00</td>
      <td>2020-01-01 05:10:00</td>
      <td>0.80</td>
      <td>0.53</td>
      <td>821</td>
      <td>2</td>
      <td>2020-01-01 04:39:00</td>
      <td>2020-01-01 05:10:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>154</td>
      <td>25</td>
      <td>SK 0267</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>14</td>
      <td>2020-01-01 04:27:00</td>
      <td>2020-01-01 05:19:00</td>
      <td>0.88</td>
      <td>0.68</td>
      <td>821</td>
      <td>2</td>
      <td>2020-01-01 04:39:00</td>
      <td>2020-01-01 05:19:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>154</td>
      <td>26</td>
      <td>SK 0272</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>14</td>
      <td>76</td>
      <td>2020-01-01 04:32:00</td>
      <td>2020-01-01 05:15:00</td>
      <td>0.73</td>
      <td>0.55</td>
      <td>821</td>
      <td>2</td>
      <td>2020-01-01 04:42:00</td>
      <td>2020-01-01 05:15:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>161</td>
      <td>27</td>
      <td>SK 0277</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>14</td>
      <td>2020-01-01 04:37:00</td>
      <td>2020-01-01 05:28:00</td>
      <td>0.85</td>
      <td>0.66</td>
      <td>821</td>
      <td>2</td>
      <td>2020-01-01 04:49:00</td>
      <td>2020-01-01 05:28:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>160</td>
      <td>28</td>
      <td>SK 0283</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>14</td>
      <td>2020-01-01 04:43:00</td>
      <td>2020-01-01 05:34:00</td>
      <td>0.86</td>
      <td>0.68</td>
      <td>821</td>
      <td>2</td>
      <td>2020-01-01 04:54:00</td>
      <td>2020-01-01 05:34:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>161</td>
      <td>29</td>
      <td>SK 0284</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>14</td>
      <td>76</td>
      <td>2020-01-01 04:44:00</td>
      <td>2020-01-01 05:32:00</td>
      <td>0.81</td>
      <td>0.63</td>
      <td>821</td>
      <td>2</td>
      <td>2020-01-01 04:55:00</td>
      <td>2020-01-01 05:32:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>113</td>
      <td>30</td>
      <td>SK 0295</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>14</td>
      <td>2020-01-01 04:55:00</td>
      <td>2020-01-01 05:53:00</td>
      <td>0.98</td>
      <td>0.68</td>
      <td>821</td>
      <td>2</td>
      <td>2020-01-01 05:13:00</td>
      <td>2020-01-01 05:53:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>161</td>
      <td>31</td>
      <td>SK 0312</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>40</td>
      <td>2020-01-01 05:12:00</td>
      <td>2020-01-01 06:06:00</td>
      <td>0.90</td>
      <td>0.70</td>
      <td>822</td>
      <td>2</td>
      <td>2020-01-01 05:24:00</td>
      <td>2020-01-01 06:06:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>161</td>
      <td>32</td>
      <td>SK 0315</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>40</td>
      <td>76</td>
      <td>2020-01-01 05:15:00</td>
      <td>2020-01-01 06:01:00</td>
      <td>0.78</td>
      <td>0.60</td>
      <td>822</td>
      <td>2</td>
      <td>2020-01-01 05:25:00</td>
      <td>2020-01-01 06:01:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>20</td>
      <td>33</td>
      <td>SK 0316</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>40</td>
      <td>2020-01-01 05:16:00</td>
      <td>2020-01-01 06:07:00</td>
      <td>0.86</td>
      <td>0.71</td>
      <td>822</td>
      <td>2</td>
      <td>2020-01-01 05:25:00</td>
      <td>2020-01-01 06:07:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>20</td>
      <td>34</td>
      <td>SK 0319</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>40</td>
      <td>76</td>
      <td>2020-01-01 05:19:00</td>
      <td>2020-01-01 06:07:00</td>
      <td>0.81</td>
      <td>0.63</td>
      <td>822</td>
      <td>2</td>
      <td>2020-01-01 05:30:00</td>
      <td>2020-01-01 06:07:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>26</td>
      <td>35</td>
      <td>SK 0320</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>40</td>
      <td>2020-01-01 05:20:00</td>
      <td>2020-01-01 06:17:00</td>
      <td>0.95</td>
      <td>0.70</td>
      <td>822</td>
      <td>2</td>
      <td>2020-01-01 05:35:00</td>
      <td>2020-01-01 06:17:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>55</td>
      <td>36</td>
      <td>SK 0344</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>105</td>
      <td>2020-01-01 05:44:00</td>
      <td>2020-01-01 06:33:00</td>
      <td>0.83</td>
      <td>0.66</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 05:54:00</td>
      <td>2020-01-01 06:33:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>55</td>
      <td>37</td>
      <td>SK 0361</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>105</td>
      <td>76</td>
      <td>2020-01-01 06:01:00</td>
      <td>2020-01-01 06:47:00</td>
      <td>0.78</td>
      <td>0.61</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:11:00</td>
      <td>2020-01-01 06:47:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>47</td>
      <td>38</td>
      <td>SK 0362</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>105</td>
      <td>2020-01-01 06:02:00</td>
      <td>2020-01-01 07:00:00</td>
      <td>0.98</td>
      <td>0.70</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:18:00</td>
      <td>2020-01-01 07:00:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>26</td>
      <td>39</td>
      <td>SK 0364</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>105</td>
      <td>2020-01-01 06:04:00</td>
      <td>2020-01-01 06:58:00</td>
      <td>0.91</td>
      <td>0.70</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:16:00</td>
      <td>2020-01-01 06:58:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>106</td>
      <td>40</td>
      <td>SK 0366</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>105</td>
      <td>2020-01-01 06:06:00</td>
      <td>2020-01-01 06:58:00</td>
      <td>0.88</td>
      <td>0.70</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:16:00</td>
      <td>2020-01-01 06:58:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>102</td>
      <td>41</td>
      <td>SK 0370</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>105</td>
      <td>2020-01-01 06:10:00</td>
      <td>2020-01-01 07:07:00</td>
      <td>0.95</td>
      <td>0.73</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:24:00</td>
      <td>2020-01-01 07:07:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>47</td>
      <td>42</td>
      <td>SK 0375</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>105</td>
      <td>76</td>
      <td>2020-01-01 06:15:00</td>
      <td>2020-01-01 07:00:00</td>
      <td>0.76</td>
      <td>0.60</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:24:00</td>
      <td>2020-01-01 07:00:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>26</td>
      <td>43</td>
      <td>SK 0377</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>105</td>
      <td>76</td>
      <td>2020-01-01 06:17:00</td>
      <td>2020-01-01 07:09:00</td>
      <td>0.88</td>
      <td>0.63</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:32:00</td>
      <td>2020-01-01 07:09:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>106</td>
      <td>44</td>
      <td>SK 0379</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>105</td>
      <td>76</td>
      <td>2020-01-01 06:19:00</td>
      <td>2020-01-01 07:05:00</td>
      <td>0.78</td>
      <td>0.63</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:28:00</td>
      <td>2020-01-01 07:05:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>27</td>
      <td>45</td>
      <td>SK 0382</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>105</td>
      <td>2020-01-01 06:22:00</td>
      <td>2020-01-01 07:16:00</td>
      <td>0.91</td>
      <td>0.75</td>
      <td>823</td>
      <td>2</td>
      <td>2020-01-01 06:31:00</td>
      <td>2020-01-01 07:16:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>61</td>
      <td>46</td>
      <td>SK 0430</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>23</td>
      <td>35</td>
      <td>2020-01-01 07:10:00</td>
      <td>2020-01-01 07:56:00</td>
      <td>0.78</td>
      <td>0.58</td>
      <td>700</td>
      <td>2</td>
      <td>2020-01-01 07:22:00</td>
      <td>2020-01-01 07:56:00</td>
      <td>8</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>61</td>
      <td>47</td>
      <td>SK 0431</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>35</td>
      <td>23</td>
      <td>2020-01-01 07:11:00</td>
      <td>2020-01-01 07:47:00</td>
      <td>0.60</td>
      <td>0.41</td>
      <td>700</td>
      <td>2</td>
      <td>2020-01-01 07:23:00</td>
      <td>2020-01-01 07:47:00</td>
      <td>35</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>69</td>
      <td>48</td>
      <td>SK 0448</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>23</td>
      <td>35</td>
      <td>2020-01-01 07:28:00</td>
      <td>2020-01-01 08:23:00</td>
      <td>0.93</td>
      <td>0.58</td>
      <td>700</td>
      <td>2</td>
      <td>2020-01-01 07:48:00</td>
      <td>2020-01-01 08:22:00</td>
      <td>8</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>17</td>
      <td>49</td>
      <td>SK 0458</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>23</td>
      <td>76</td>
      <td>2020-01-01 07:38:00</td>
      <td>2020-01-01 08:44:00</td>
      <td>1.11</td>
      <td>0.90</td>
      <td>701</td>
      <td>2</td>
      <td>2020-01-01 07:50:00</td>
      <td>2020-01-01 08:44:00</td>
      <td>8</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
    <tr>
      <td>17</td>
      <td>50</td>
      <td>SK 0459</td>
      <td>2020-01-01</td>
      <td>1</td>
      <td>76</td>
      <td>23</td>
      <td>2020-01-01 07:39:00</td>
      <td>2020-01-01 08:37:00</td>
      <td>0.98</td>
      <td>0.75</td>
      <td>701</td>
      <td>2</td>
      <td>2020-01-01 07:52:00</td>
      <td>2020-01-01 08:37:00</td>
      <td>29</td>
      <td>2022-05-19</td>
      <td>2022-05-19</td>
    </tr>
  </tbody>
</table>