<a href="/">Home</a><br><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>COUNTRY_KEY</th>
      <th>COUNTRY_NAME</th>
      <th>COUNTRY_FULL_NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>AT</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>BE</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>CH</td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>CN</td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td>CY</td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td>CZ</td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td>DE</td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td>DK</td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td>EE</td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td>EG</td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td>ES</td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>FI</td>
      <td></td>
    </tr>
    <tr>
      <td>13</td>
      <td>FO</td>
      <td></td>
    </tr>
    <tr>
      <td>14</td>
      <td>FR</td>
      <td></td>
    </tr>
    <tr>
      <td>15</td>
      <td>GB</td>
      <td></td>
    </tr>
    <tr>
      <td>16</td>
      <td>GR</td>
      <td></td>
    </tr>
    <tr>
      <td>17</td>
      <td>HK</td>
      <td></td>
    </tr>
    <tr>
      <td>18</td>
      <td>HU</td>
      <td></td>
    </tr>
    <tr>
      <td>19</td>
      <td>IE</td>
      <td></td>
    </tr>
    <tr>
      <td>20</td>
      <td>IS</td>
      <td></td>
    </tr>
    <tr>
      <td>21</td>
      <td>IT</td>
      <td></td>
    </tr>
    <tr>
      <td>22</td>
      <td>JP</td>
      <td></td>
    </tr>
    <tr>
      <td>23</td>
      <td>LB</td>
      <td></td>
    </tr>
    <tr>
      <td>24</td>
      <td>LT</td>
      <td></td>
    </tr>
    <tr>
      <td>25</td>
      <td>LU</td>
      <td></td>
    </tr>
    <tr>
      <td>26</td>
      <td>LV</td>
      <td></td>
    </tr>
    <tr>
      <td>27</td>
      <td>MT</td>
      <td></td>
    </tr>
    <tr>
      <td>28</td>
      <td>NL</td>
      <td></td>
    </tr>
    <tr>
      <td>29</td>
      <td>NO</td>
      <td></td>
    </tr>
    <tr>
      <td>30</td>
      <td>PL</td>
      <td></td>
    </tr>
    <tr>
      <td>31</td>
      <td>PT</td>
      <td></td>
    </tr>
    <tr>
      <td>32</td>
      <td>RO</td>
      <td></td>
    </tr>
    <tr>
      <td>33</td>
      <td>RS</td>
      <td></td>
    </tr>
    <tr>
      <td>34</td>
      <td>RU</td>
      <td></td>
    </tr>
    <tr>
      <td>35</td>
      <td>SE</td>
      <td></td>
    </tr>
    <tr>
      <td>36</td>
      <td>SJ</td>
      <td></td>
    </tr>
    <tr>
      <td>37</td>
      <td>TR</td>
      <td></td>
    </tr>
    <tr>
      <td>38</td>
      <td>UA</td>
      <td></td>
    </tr>
    <tr>
      <td>39</td>
      <td>US</td>
      <td></td>
    </tr>
  </tbody>
</table>